/* Checkout pages */
.page-checkout .checkout-buttons {
  margin: 0;
}

.page-checkout .checkout-help {
  padding-top: 1em;
  margin: 0;
  font-size: 1.15em;
}

.page-checkout fieldset {
  border-top: 1px solid #eee;
}
.page-checkout fieldset legend {
  margin: 0 0.7em;
  padding: 0.3em;
  font-size: 1.2em;
  font-weight: bold;
}

/* Checkout progress */
ul.inline.commerce-checkout-progress,
ol.inline.commerce-checkout-progress {
  background: none repeat scroll 0 0 #eee;
  color: #fff;
  counter-reset: checkout-progress;
  font-size: 1em;
  line-height: 1.38462em;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.inline.commerce-checkout-progress li,
ol.inline.commerce-checkout-progress li {
  display: inline-block;
  float: none;
  font: inherit;
  list-style: decimal outside none;
  margin: 0;
  padding: 0;
  position: relative;
  width: auto;
}

ul.inline.commerce-checkout-progress li:before,
ol.inline.commerce-checkout-progress li:before {
  content: counter(checkout-progress, decimal);
  counter-increment: checkout-progress;
  display: inline-block;
  font-size: 1.15em;
  font-weight: bold;
  line-height: 1.2em;
  padding: 0.2em;
  text-align: center;
  width: 1em;
  background: #898A8C;
  color: #fff;
}
ul.inline.commerce-checkout-progress li.available,
ol.inline.commerce-checkout-progress li.available,
ul.inline.commerce-checkout-progress li.available:before,
ol.inline.commerce-checkout-progress li.available:before {
  background: #3AA1F3;
  color: #fff;
}
ul.inline.commerce-checkout-progress li.active,
ol.inline.commerce-checkout-progress li.active,
ul.inline.commerce-checkout-progress li.active:before,
ol.inline.commerce-checkout-progress li.active:before {
  background: #3AAE3F;
  color: #fff;
}
ul.inline.commerce-checkout-progress li + li:before,
ol.inline.commerce-checkout-progress li + li:before {
  padding-left: 1.2em;
}

ul.inline.commerce-checkout-progress li:after,
ol.inline.commerce-checkout-progress li:after {
  border-bottom: 0.923em solid rgba(0, 0, 0, 0);
  border-left: 1.231em solid #eee;
  border-top: 0.923em solid rgba(0, 0, 0, 0);
  content: "";
  height: 0;
  font-size: inherit;
  position: absolute;
  right: -1.15em;
  top: 0;
  width: 0;
  z-index: 1;
  background: none !important;
}
ul.inline.commerce-checkout-progress li.available:after,
ol.inline.commerce-checkout-progress li.available:after {
  border-left-color: #3AA1F3;
}
ul.inline.commerce-checkout-progress li.active:after,
ol.inline.commerce-checkout-progress li.active:after {
  border-left-color: #3AAE3F;
}

ul.inline.commerce-checkout-progress li *,
ol.inline.commerce-checkout-progress li * {
  font: inherit !important;
  color: inherit !important;
  display: inline-block;
  padding: 0.1em 0.3em;
  line-height: 1.15em;
}
ul.inline.commerce-checkout-progress li.active *,
ol.inline.commerce-checkout-progress li.active * {
  text-decoration: underline;
}
