/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

html {
  overflow-y: scroll;
}

.zone-branding .region-branding {
  margin-bottom: 0;
}

a.button {
  background-color: #cecece;
  color: #fff;
  text-decoration: none;
  border-radius: 0.5em;
  display: inline-block;
  padding: 0.4em 0.8em;
  font-weight: bold;
}

.page-user .block-system-main {
  margin: 0;
}

.item-list > h3 {
  font-size: 1.2em;
}

/* Block/pane styling */
.block-title,
.pane-title {
  font-size: 1.2em;
  margin: 0;
}

.boxed {
  position: relative;
}
.boxed + .boxed {
  margin-top: 1em;
}
.boxed.block-tight + .boxed {
  margin-top: 0;
}
.boxed > .block-title,
.boxed > .pane-title,
.boxed > .node-title {
  padding: 0.4167em;
  background: #898A8C;
  color: #fff;
}
.boxed > .content,
.boxed > .pane-content {
  padding: 0.5em;
  background: #eee;
}

.boxed.block-no-pad > .content,
.boxed.block-no-pad > .pane-content {
  padding: 0;
}
.boxed.block-no-pad > .content > p,
.boxed.block-no-pad > .pane-content > p {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/* Views */
.view-content > table {
  width: 100%;
}

/* Event listings view */
.view-opencrm-booking-listings > .view-content > h3 {
  font-size: 19px;
  margin: 0;
}
.view-opencrm-booking-listings .node {
  border: none;
  border-bottom: 1px solid #E0E3E6;
}
.view-opencrm-booking-listings .views-row-1 .node {
  border-top: 1px solid #E0E3E6;
}
.opencrm-booking-listing > .panel-panel > .inside {
  padding: 0.3em 0;
}

/* Booking process */
.opencrm-booking-summary .item-list li,
.opencrm-booking-ticket-list .item-list li {
  border-bottom: 1px solid #fff;
}
.opencrm-booking-ticket-list .item-list li.active {
  color: #2698F2;
}
.opencrm-booking-ticket-list .item-list > h3 {
  background: #2698F2;
  color: #fff;
  position: relative;
  font-size: 0.9em;
}
.opencrm-booking-ticket-list .item-list > h3:after {
  border-left: 0.33em solid transparent;
  border-right: 0.33em solid transparent;
  border-top: 0.4em solid #2698F2;
  bottom: -0.3em;
  content: "";
  height: 0;
  left: 1em;
  position: absolute;
  width: 0;
}

.page-checkout .ticket_payments .ocrm-stat {
  font-size: 1.1rem;
}

/* User zone blocks */
.zone-user section {
  display: inline-block;
}
.zone-user .region-user-second {
  text-align: right;
}
.zone-user .block.collapsiblock-processed {
  position: relative;
  height: 1.33em;
}
.zone-user .block-title.collapsiblock {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: -4px;
  display: inline-block;
}
.zone-user .block-title.collapsiblock a {
  padding: 0.5em 3em 0.5em 1em;
  color: #fff;
  background: #2698F2;

  -webkit-background-clip: padding-box;
  background-clip: padding-box;

  -webkit-box-shadow: 0 0 6px -2px #000000;
  box-shadow: 0 0 6px -2px #000000;
}
.zone-user .block-title.collapsiblockCollapsed a {
  -webkit-border-radius: 0 0 12px 12px;
  border-radius: 0 0 12px 12px;
}
.zone-user .block-title.collapsiblock a:hover,
.zone-user .block-title.collapsiblock a:active,
.zone-user .block-title.collapsiblock a:focus {
  text-decoration: none;
}
.zone-user .block-title.collapsiblock a:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 0.6em solid transparent;
  border-right: 0.6em solid transparent;
  border-bottom: 1em solid #fff;
  position: absolute;
  top: 30%;
  right: 1em;
}
.zone-user .block-title.collapsiblockCollapsed a:after {
  top: 50%;
  border-bottom: 0;
  border-top: 1em solid #fff;
}
.zone-user .block-title.collapsiblock ~ .content:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.zone-user .block-title.collapsiblock ~ .content {
  text-align: left;
  position: absolute;
  top: 2.1em;
  left: 0;
  border: 8px solid #2698F2;
  background: #F3F8FC;
  z-index: 99;
  padding: 0.8em;
  min-width: 105%;

  -webkit-border-radius: 8px 0 8px 8px;
  border-radius: 8px 0 8px 8px;

  -webkit-background-clip: padding-box;
  background-clip: padding-box;

  -webkit-box-shadow: 0 4x 6px -2px #000000;
  box-shadow: 0 4px 6px -2px #000000;
}
.region-user-second .block-title.collapsiblock ~ .content {
  left: auto;
  right: 0;
}
