body #content {
  padding: 20px 30px 10px;
}

/* Prevent unwanted styling */
.main .main-content .sidebar-first {
  border: none;
  background: none;
  color: inherit;
  padding: 0;
}
.main .main-content .sidebar-first a {
  color: #0074BD;
}
.main .main-content .sidebar-first h2 {
  background: none;
  padding: 0;
}

.main .main-content .panel-content {
  padding: 0;
}
