.panel-sidebar > .sidebar-first,
.panel-sidebar > .sidebar-second {
  min-width: 300px;
  width: 20%;
  max-width: 400px;
}

.panel-sidebar > .sidebar-first {
  -webkit-box-ordinal: 0; /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  -moz-box-ordinal: 0;    /* OLD: Firefox (buggy) */
  -ms-flex-order: -1;     /* MID: IE 10 */
  -webkit-order: -1;      /* NEW, Chrome 21+ */
  order: -1;              /* NEW: Opera 12.1, Firefox 22+ */
}
.panel-sidebar > .content {
  -webkit-box-ordinal: 1; /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  -moz-box-ordinal: 1;    /* OLD: Firefox (buggy) */
  -ms-flex-order: 0;      /* MID: IE 10 */
  -webkit-order: 0;       /* NEW, Chrome 21+ */
  order: 1;               /* NEW: Opera 12.1, Firefox 22+ */
}
.panel-sidebar > .sidebar-second {
  -webkit-box-ordinal: 2; /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  -moz-box-ordinal: 2;    /* OLD: Firefox (buggy) */
  -ms-flex-order: 1;      /* MID: IE 10 */
  -webkit-order: 1;       /* NEW, Chrome 21+ */
  order: 1;               /* NEW: Opera 12.1, Firefox 22+ */
}

.panel-sidebar .sidebar > .panel-pane {
  padding: 0 15px;
}

.panel-sidebar .content {
  padding: 15px;
}

.panel-sidebar > .sidebar-old {
  display: none;
}

html body.opencrm-title-img #page {
  padding-top: 0;
}
body.opencrm-title-img .panel-sidebar > .content {
  padding-top: 95px;
}
body.opencrm-title-img .panel-sidebar > .content .party-view {
  margin-top: -80px;
}
body.opencrm-title-img .panel-sidebar > .content .party-view > .panel-section-top {
  padding-left: 215px;
  min-height: 95px;
}
